@import 'utility';
html {
  height: 100vh;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  color: #fff;
  font-family: "Comfortaa";
  font-size: 28px;
  background: linear-gradient(217deg, #59fcf3, #0ae565);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 27s ease infinite;

  @-webkit-keyframes AnimationName {
    0% { background-position: 0% 58%; }
    50% { background-position: 100% 43%; }
    100% { background-position: 0% 58%; }
  }
}

main {
  flex: 1;
}

form input {
  border: none;
  margin-top: 100px;
  width: 100%;
  color: rgb(68, 68, 68);
  font-size: 2em;
  line-height: 1.5em;
  background-color: #fff;
  opacity: 0.55;

  input:focus {
    outline: 0;
    background-color: #fff;
  }
}

ul.listofthings {
  padding: 0;
  list-style: none;
  font-size: 1.5em;

  input {
    font-family: "Neucha", cursive;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.2em;

      form {
        align-items: center;
        justify-content: center;
        display: flex;

        li.completed {
          opacity: 0.5;
        }
      }
    }
  }
}

ul.listofthings li.completed span {
  text-decoration: line-through;
}

header,
main,
footer {
  margin-top: 75px;
  max-width: 30em;
}
// $base-text-size: 16px;
// $base-font-family: sans-serif;
//
// html {
//   text-size-adjust: 100%;
// }
//
// body {
//   @include font-smoothing(on);
//   margin-top: 100px;
//   font: $base-text-size / 1 $base-font-family;
// }
//  ul {
//   li {
//     display: flex;
//     justify-content: center;
//     list-style: none;
//     padding: 0;
//     margin-left: 0;
//   }
// }
//
// form {
//   display: flex;
//   justify-content: center;
//
//   input {
//     margin-left: 5px;
//   }
//
//   button {
//     margin-left: 5px;
//   }
// }
